<div class="container">
  <ul class="list-group">
    <li
      class="list-group-item mt-2 bg-danger text-white"
      *ngFor="let course of courses"
    >
      {{ course }}
    </li>
  </ul>

  <ul class="list-group">
    <li
      class="list-group-item bg-success mt-2 text-white"
      *ngFor="let country of countries"
    >
      {{ country }}
    </li>
  </ul>

  <ul class="list-group">
    <li
      class="list-group-item bg-primary mt-2 text-white"
      *ngFor="let emp of employees"
    >
      {{ emp.name }}
      {{ emp.age }}
      {{ emp.salary }}
      {{ emp.company }}
    </li>
  </ul>
</div>
