<app-header></app-header>

<div class="container">
  <!--<app-login></app-login>-->
  <!--<app-employee></app-employee>-->
  <!--<app-users></app-users>-->
  <!--<app-simple></app-simple>-->
  <!--<app-login1></app-login1>-->
  <!--<app-contact></app-contact>-->
  <!--<app-contact1></app-contact1>-->
  <!--<app-students></app-students>-->
  <!--<app-form-builder></app-form-builder>-->

  <!--<router-outlet></router-outlet>-->
  <!--<app-post></app-post>-->
  <!--<app-album></app-album>-->
  <!--<app-photos></app-photos>-->
  <!--This is built in directive and it is using glue between html page(root page) and router module configuration-->
  <!--<div class="row">
    <div class="col-md-6">
      <app-login2>
        <h1 id="login">Login</h1>
        <button id="btn">Login</button>
        <div>
          <span>Don't have an account please</span>
          <a href="/register">Register</a>
        </div>
      </app-login2>
    </div>
    <div class="col-md-6">
      <app-login2>
        <h1 id="register">Register</h1>
        <button id="btn">Register</button>
        <div>
          <span>Already registered please</span>
          <a href="/login">Login</a>
        </div>
      </app-login2>
    </div>
  </div>-->
  <!--<app-home></app-home>-->
  <!--<app-courses></app-courses>-->
  <!--<app-login3></app-login3>-->
  <!--<app-serviceexample></app-serviceexample>-->
</div>

<!--<div class="container">
  //Input
  /*<app-child
    [name]="user.name"
    [age]="user.age"
    [company]="user.company"
    *ngFor="let user of users"
  ></app-child>*/
  //Output
  <app-child (country)="getCountry($event)"></app-child>
  <select>
    <option *ngFor="let country of countryData" ngValue="country"
      >{{ country }}
    </option>
  </select>
</div>-->

<app-pipe-example></app-pipe-example>
