<!--Reactive form-->
<div class="container">
  <div class="col-md-4 offset-4 card mt-4">
    <h1 class="text-center text-uppercase mt-2 text-danger display-6">Login</h1>
    <form [formGroup]="form">
      <div class="form-group">
        <input
          formControlName="username"
          type="text"
          class="form-control mt-2"
          placeholder="Enter username"
        />
        <!--this is for validation-->
        <div
          class="text-danger mt-2"
          *ngIf="username.touched && username.invalid"
        >
          <p *ngIf="username.errors.required">Username is required</p>
          <p *ngIf="username.errors.minlength">
            Username should be minimum 3 characters
          </p>
          <p *ngIf="username.errors.removeSpace">
            Username cannot contain space😂
          </p>
        </div>
      </div>
      <div>
        <input
          formControlName="password"
          type="password"
          class="form-control mt-2"
          placeholder="Enter password"
        />
        <div
          class="text-danger mt-2"
          *ngIf="password.touched && password.invalid"
        >
          <p *ngIf="password.errors.required">Password is required</p>
          <p *ngIf="password.errors.minlength">
            Password should be minimum 3 characters
          </p>
          <p *ngIf="password.errors.removeSpace">
            Password cannot contain space😂
          </p>
        </div>
      </div>

      <button class="btn btn-success btn-block mt-2">Login</button>
    </form>
  </div>
</div>
