<div class="container">
  <form action="">
    <h1 class="display-5 text-success mt-2 text-uppercase">
      Add Students into list
    </h1>
    <input
      type="text"
      class="form-control bg-light text-success"
      placeholder="Add students"
      (keyup.enter)="addStudents(student)"
      #student
    />

    <ul class="list-group">
      <li
        class="list-group-item mt-2"
        *ngFor="let student of GetStudents.controls"
      >
        {{ student.value }}
        <button
          class="btn btn-danger float-right"
          (click)="removeStudents(student)"
        >
          Remove
        </button>
      </li>
    </ul>
  </form>
</div>
